<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Fehler − Reservation {{ .Event }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <h1>Fehler</h1>
            <p>Bei der Verarbeitung Ihrer Anfrage ist ein Fehler aufgetreten: <i>{{ .Message }}</i>.</p>
            <p>Bitte kehren Sie zur vorherigen Seite zurück und überprüfen Sie Ihre Eingabe. Für weiter Hilfe wenden Sie sich an <i>info AT stgtk PUNKT ch</i>.</p>
        </div>
    </div>
</div>

</body>
</html>
