<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Login − {{ .Event }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <h1>Administration − {{ .Event }} </h1>
            <p>Bitte melden Sie sich an.</p>
        </div>
    </div>
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <form action="login" method="post">
                <div class="row">
                    <label for="pwdInput">Passwort</label>
                    <input class="u-full-width" type="password" name="pwd" id="pwdInput"/>
                    <input class="button-primary" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
