<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Reservationsbestätigung − {{ .Event }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <h1>Reservationsbestätigung</h1>
            <p>Vielen Dank für Ihre Reservation. Bei Fragen können Sie sich jederzeit unter <i>info AT stgtk PUNKT ch</i> melden.</p>
        </div>
    </div>
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Feld</th>
                    <th>Ihre Angaben</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{.Name}}</td>
                </tr>
                <tr>
                    <td>Anzahl Plätze</td>
                    <td>{{.Places}}</td>
                </tr>
                <tr>
                    <td>Aufführung</td>
                    <td>{{.Date}}</td>
                </tr>
                <tr>
                    <td>E-Mail Adresse</td>
                    <td>{{.Mail}}</td>
                </tr>
                <tr>
                    <td>Anmerkung</td>
                    <td>{{.Notes}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
