<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Report − {{ .Event }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <h1>Report − {{ .Event }} </h1>
            <p>Die aktuellen Reservationen für «{{ .Event }}». Dieser Report entspricht dem Stand vom <b>{{ .CreatedAt.Format "1 Jan 2006 15:04" }}.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <h3>Übersicht</h3>
            <h4>Auslastung</h4>
            <table class="u-full-width">
                <thead>
                <tr>
                    <th>Aufführung</th>
                    <th>Reservierte Plätze</th>
                    <th>Noch verfügbar</th>
                    <th>Max. Reservationen</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {{- range $event, $occupied := .OccupiedPlaces }}
                    <tr>
                        <td>{{ $event }}</td>
                        <td>{{ $occupied.Current }}</td>
                        <td>{{ $occupied.Left }}</td>
                        <td>{{ $occupied.Max }}</td>
                        <td>{{ $occupied.Status }}</td>
                        <td></td>
                    </tr>
                {{- end }}
                </tbody>
            </table>

            {{ if .Errors }}
                <h4>Fehler</h4>
                <p>Während des Erstellen des Reports sind folgende Fehler aufgetreten:</p>
                <ul>
                    {{- range .Errors }}
                        <li>{{ . }}</li>
                    {{- end }}
                </ul>
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="four column" style="margin-top: 4vh">
            <h3>Reservationen</h3>
            {{- range $event, $reservations := .RsvPerDate }}
                <h4>{{ $event }}</h4>
                {{ if not $reservations }}
                    <p>No reservations yet.</p>
                {{else}}
                    <table class="u-full-width">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Anzahl Plätze</th>
                            <th>E-Mail Adresse</th>
                            <th>Reserviert am</th>
                            <th>Anmerkungen</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{- range $reservations }}
                            <tr>
                                <td>{{ .Name }}</td>
                                <td>{{ .Places }}</td>
                                <td>{{ .Mail }}</td>
                                <td>{{ .ReservedAt.Format "1 Jan 2006 15:04" }}</td>
                                <td>{{ .Notes }}</td>
                            </tr>
                        {{- end }}
                        </tbody>
                    </table>
                {{ end }}
            {{- end }}
        </div>
    </div>
</div>

</body>
</html>
